<header class="main-header navbar-global">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container container-full">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Library Miner 1.0
        </a>
        <button data-target="#navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <div id="navbar-collapse" class="collapse navbar-collapse pull-left">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-database"></i> Jobs
            <% end %>
          </li>
        </ul>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
</header>
