<div class="row">
  <div class="col-md-12">

    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">検索条件</h3>
      </div>

      <div class="box-body">

        <div class="col-md-6">
          <div class="form-group">
            <label>ジョブ名</label>
            <select id="job-select" class='form-control job-select'>
            </select>
          </div>
          <div class="form-group">
            <label>ジョブ開始時刻</label>
            <input id="job-started-at" class='form-control job-started-at'></input>
          </div>
          <div class="form-group">
            <label>エンキュー開始時刻</label>
            <input id="job-from" class='form-control job-from'></input>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>ジョブステータス</label>
            <select id="job-status" class='form-control job-status'>
              <option value="">全て</option>
              <option value="0">実行待ち</option>
              <option value="1">実行中</option>
              <option value="2">完了</option>
              <option value="9">エラー</option>
            </select>
          </div>
          <div class="form-group">
            <label>ジョブ終了時刻</label>
            <input id="job-ended-at" class='form-control job-ended-at'></input>
          </div>
          <div class="form-group">
            <label>エンキュー終了時刻</label>
            <input id="job-to" class='form-control job-to'></input>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
